<!DOCTYPE html>
<html>
<head>
  <title>No Code Form Builder</title>
  <link href="/styles.css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <h1>Welcome to Form Builder</h1>
    <a href="/admin">Go to Admin Panel</a>
  </div>
</body>
</html>
